<div class="bg-black h-240 md:h-[290px] w-full flex items-center justify-end overflow-hidden">
  <img src="banner.png" alt="banner" class="w-fit h-full object-contain -mr-16" />
</div>


<div class="flex items-center justify-between">
  <mat-form-field class="w-fit">
    <mat-label>Buscar</mat-label>
    <input matInput type="text" [(ngModel)]="query">
    @if (query) {
      <button matSuffix mat-icon-button aria-label="Clear" (click)="query=''">
        <mat-icon>close</mat-icon>
      </button>
    }
  </mat-form-field>

  <mat-form-field class="w-fit">
    <mat-label>Ordenar por</mat-label>
    <mat-select formControlName="orderBy">
      <mat-option [value]="1">
        De mayor a menor
      </mat-option>
      <mat-option [value]="2">
        De menor a mayor
      </mat-option>
      <mat-option [value]="0">
        Por defecto
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button>
    Toggle extra text
  </button>
</div>

<div class="flex w-full gap-4 max-w-screen-2xl mx-auto">
  <div class="w-[min(80vw,280px)] bg-white rounded-xl p-3 m-2 shadow-lg border-2 border-gray-card-border h-fit">
    <mat-accordion multi>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>Marcas</mat-panel-title>
        </mat-expansion-panel-header>
        <section>
          <p *ngFor="let brand of brands">
            <mat-checkbox formControlName="brands" [value]="brand.id.toString()">
              {{ brand.nameBrand }}
            </mat-checkbox>
          </p>
        </section>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>Categorías</mat-panel-title>
        </mat-expansion-panel-header>
        <section>
          <p *ngFor="let category of categories">
            <mat-checkbox formControlName="categories" [value]="category.id.toString()">
              {{ category.nameCategory }}
            </mat-checkbox>
          </p>
        </section>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>Subcategorías</mat-panel-title>
        </mat-expansion-panel-header>
        <section>
          <p *ngFor="let subcategory of subcategories">
            <mat-checkbox formControlName="subcategories" [value]="subcategory.id.toString()">
              {{ subcategory.nameSubcategory }}
            </mat-checkbox>
          </p>
        </section>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="grid w-full h-fit grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 py-5">
    <product-card
      *ngFor="let product of products"
      [imageUrl]="product.images[0].urlImage || ''"
      [name]="product.nameProduct"
      [price]="product.price"
      [discount]="product.discount"
      [id]="product.id"
    ></product-card>
    <div *ngIf="products.length === 0" class="flex items-center justify-center">
      <p>No hay productos disponibles</p>
    </div>
  </div>
</div>
