<div class="container mx-auto p-4">
  <h1 class="text-3xl font-bold my-5">Mi lista de deseos</h1>
  @if (wishlistItems.length === 0) {
    <div class="text-center text-gray-500">No tienes productos en tu lista de favoritos.</div>
  }
  @if (wishlistItems.length > 0) {
    <div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
        @for (item of wishlistItems; track item) {
          <div class="border p-4 rounded-lg">
            <img
              [src]="item.product.images[0].urlImage || null"
              [alt]="item.product.nameProduct"
              class="w-full h-48 object-contain mb-2"
            />
            <h2 class="text-xl font-semibold">{{ item.product.nameProduct }}</h2>
            <p class="text-gray-600">Precio: S/ {{ item.product.price | number: '1.2-2' }}</p>
            <app-button
              text="Eliminar"
              (handleClick)="removeWishlistItem(item.id)"
              class="text-white mt-3 rounded"
            ></app-button>
          </div>
        }
      </div>
    </div>
  }
</div>
