<footer class="bg-black text-white py-12 px-5">
  <div class="flex-row flex mx-auto justify-evenly gap-4 *:w-fit pb-8 flex-wrap border-b-2 border-b-white
">
    <div class="">
      <h5 class="font-bold mb-2 w-fit border-b border-b-white">Compañia</h5>
      <ul class="flex flex-col gap-1 text-sm">
        <li><a href="#">Nosotros</a></li>
        <li><a href="#">Nuestros Servicios</a></li>
        <li><a href="#">Nuestra vision</a></li>
        <li><a href="#">Afiliate</a></li>
      </ul>
    </div>
    <div class="">
      <h5 class="font-bold mb-2 w-fit border-b border-b-white">Ayuda</h5>
      <ul class="flex flex-col gap-1 text-sm">
        <li><a href="#">Preguntas</a></li>
        <li><a href="#">Contáctanos</a></li>
        <li><a href="#">Soporte</a></li>
        <li><a href="#">Ubícanos</a></li>
      </ul>
    </div>
    <div class="">
      <h5 class="font-bold mb-2 w-fit border-b border-b-white">Tienda</h5>
      <ul class="flex flex-col gap-1 text-sm">
        <li><a href="#">Productos</a></li>
        <li><a href="#">Marcas</a></li>
        <li><a href="#">Modelos</a></li>
        <li><a href="#">Lo mas vendido</a></li>
      </ul>
    </div>
    <div class="" style="max-width: 130px;">
      <h5 class="font-bold mb-2 w-fit border-b border-b-white">Síguenos</h5>
      <div class="grid grid-cols-2 items-center gap-1">
        <mat-icon>facebook</mat-icon>
        <mat-icon>instagram</mat-icon>
        <mat-icon>youtube</mat-icon>
        <mat-icon>twitter</mat-icon>
      </div>
    </div>
  </div>
</footer>
